<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My Cal</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<h1>Brad Super Big Company</h1>
	<hr>
	<form action='Brad20' class="form-inline" >
		<input class="form-control input-lg" type='text' name='x' value='%s' />
		<select name='op'>
			<option value ='1' %s>+</option>
			<option value ='2' %s>-</option>
			<option value ='3' %s>*</option>
			<option value ='4' %s>/</option>
		</select>	
		<input class="form-control input-lg" type='text' name='y' value='%s' />
		<button class="btn btn-info" type='submit'>=</button>
		<span style='font-size:22px;color:orange'>%s</span>	
	</form>
	<hr>
Copyleft, Welcome Copy
</div>

</body>
</html>